<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Starter HTML page" />
  <title>Tech Cop</title>
  <link rel="stylesheet" href="./styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/theme/material-darker.css" />
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5/mode/css/css.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/comment/comment.js"></script>
  <script src="./index.js" defer></script>
</head>

<body>
  <main class="deck">
    {% include "property-text.html" %}
    {% include "property-aspect-ratio.html" %}
  </main>
</body>

</html>