<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Starter HTML page" />
  <title>Tech Cop</title>
  <link rel="stylesheet" href="./assets/styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5/theme/material-darker.css" />
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5/lib/codemirror.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5/mode/css/css.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/codemirror@5/addon/comment/comment.js"></script>
  <script src="./assets/index.js" defer></script>
</head>

<body>
  <main class="deck">
    {% include "intro-title.html" %}
    {% include "intro-baseline.html" %}
    {% include "intro-interop.html" %}

    {% include "section-selectors.html" %}
    {% include "pseudo-not.html" %}
    {% include "pseudo-has.html" %}
    {% include "pseudo-nth-child-of.html" %}
    {% include "pseudo-empty.html" %}
    {% include "pseudo-focus-visible.html" %}
    {% include "pseudo-user-valid.html" %}

    {% include "section-layout.html" %}
    {% include "intro-logical-axes.html" %}
    {% include "property-logical-sizing.html" %}
    {% include "property-logical-spacing.html" %}
    {% include "property-flow-root.html" %}
    {% include "property-aspect-ratio.html" %}
    {% include "property-fit-content.html" %}
    {% include "property-min-max-clamp.html" %}
    <!-- {% include "property-viewport-units.html" %} -->
    {% include "pattern-center-fit-content.html" %}

    {% include "section-typography.html" %}
    {% include "property-text.html" %}
    {% include "property-text-wrap.html" %}

    {% include "section-color.html" %}
    {% include "property-color-mix.html" %}
    {% include "property-mask-image.html" %}
    {% include "property-backdrop-filter.html" %}
    {% include "property-color-scheme.html" %}
    {% include "property-caret-color.html" %}

    {% include "section-transitions.html" %}
    {% include "property-transition-behavior.html" %}
    {% include "at-starting-style.html" %}

    {% include "section-container.html" %}
    {% include "at-container-queries.html" %}

    {% include "outro-end.html" %}
    {% include "outro-resources.html" %}
  </main>
</body>

</html>